<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>fuck</title>

    <div th:replace="fragments::common_css">
        <!-- start: META -->
        <meta charset="utf-8" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- end: META -->
        <!-- start: MAIN CSS -->
        <link rel="stylesheet" href="../static/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/assets/fonts/style.css">
        <link rel="stylesheet" href="../static/assets/css/main.css">
        <link rel="stylesheet" href="../static/assets/css/main-responsive.css">
        <link rel="stylesheet" href="../static/assets/plugins/iCheck/skins/all.css">
        <link rel="stylesheet" href="../static/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
        <link rel="stylesheet" href="../static/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
        <link rel="stylesheet" href="../static/assets/css/theme_light.css" type="text/css" >
        <link rel="stylesheet" href="../static/assets/css/print.css" type="text/css" media="print"/>
        <!--[if IE 7]>
        <link rel="stylesheet" href="../static/assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
        <![endif]-->
        <!-- end: MAIN CSS -->
        <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
        <link rel="stylesheet" href="../static/assets/plugins/select2/select2.css">
        <link rel="stylesheet" href="../static/assets/plugins/datepicker/css/datepicker.css">
        <link rel="stylesheet" href="../static/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
        <link rel="stylesheet" href="../static/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css">
        <link rel="stylesheet" href="../static/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css">
        <link rel="stylesheet" href="../static/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css">
        <link rel="stylesheet" href="../static/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css">
        <link rel="stylesheet" href="../static/assets/plugins/summernote/build/summernote.css">
        <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
        <link rel="shortcut icon" href="favicon.ico" />
    </div>

</head>
<body>

    <div th:replace="header_left_footer_fragment::header">
    </div>

    <div class="main-container">
        <div th:replace="header_left_footer_fragment::left">
        </div>
        <div class="main-content">
            <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">Panel Configuration</h4>
                        </div>
                        <div class="modal-body">
                            Here will be a configuration form
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-cog-2"></i>
                                <a href="#">
                                    UI Lab
                                </a>
                            </li>
                            <li class="active">
                                Elements
                            </li>
                            <li class="search-box">
                                <form class="sidebar-search">
                                    <div class="form-group">
                                        <input type="text" placeholder="Start Searching...">
                                        <button class="submit">
                                            <i class="clip-search-3"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ol>
                        <div class="page-header">
                            <h1>UI Elements <small>common UI features &amp; Elements</small></h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="header_left_footer_fragment :: footer"></div>

    <div th:replace="fragments::common_js">
        <!-- start: MAIN JAVASCRIPTS -->
        <!--[if gte IE 9]><!-->
        <script type="text/javascript" th:src="@{http://libs.useso.com/js/jquery/2.0.3/jquery.min.js}"></script>
        <!--<![endif]-->
        <script th:src="@{/assets/plugins/respond.min.js}"></script>
        <script th:src="@{/assets/plugins/excanvas.min.js}"></script>
        <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
        <script th:src="@{/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}"></script>
        <script th:src="@{/assets/plugins/blockUI/jquery.blockUI.js}"></script>
        <script th:src="@{/assets/plugins/iCheck/jquery.icheck.min.js}"></script>
        <script th:src="@{/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js}"></script>
        <script th:src="@{/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js}"></script>
        <script th:src="@{/assets/plugins/less/less-1.5.0.min.js}"></script>
        <script th:src="@{/assets/plugins/jquery-cookie/jquery.cookie.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- end: MAIN JAVASCRIPTS -->
    </div>
<!-- start: MAIN JAVASCRIPTS -->

<!--[if gte IE 9]><!-->
<script type="text/javascript" th:src="@{http://libs.useso.com/js/jquery/2.0.3/jquery.min.js}"></script>
<!--<![endif]-->
    <script th:src="@{/assets/plugins/respond.min.js}"></script>
    <script th:src="@{/assets/plugins/excanvas.min.js}"></script>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
<script th:src="@{/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}"></script>
<script th:src="@{/assets/plugins/blockUI/jquery.blockUI.js}"></script>
<script th:src="@{/assets/plugins/iCheck/jquery.icheck.min.js}"></script>
<script th:src="@{/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js}"></script>
<script th:src="@{/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/plugins/less/less-1.5.0.min.js}"></script>
<script th:src="@{/assets/plugins/jquery-cookie/jquery.cookie.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<!-- end: MAIN JAVASCRIPTS -->
<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script th:src="@{/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js}"></script>
<script th:src="@{/assets/plugins/autosize/jquery.autosize.min.js}"></script>
<script th:src="@{/assets/plugins/select2/select2.min.js}"></script>
<script th:src="@{/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js}"></script>
<script th:src="@{/assets/plugins/jquery-maskmoney/jquery.maskMoney.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-daterangepicker/moment.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-colorpicker/js/commits.js}"></script>
<script th:src="@{/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js}"></script>
<script th:src="@{/assets/plugins/summernote/build/summernote.min.js}"></script>
<script th:src="@{/assets/plugins/ckeditor/ckeditor.js}"></script>
<script th:src="@{/assets/plugins/ckeditor/adapters/jquery.js}"></script>
<script th:src="@{/assets/js/form-elements.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap-paginator/src/bootstrap-paginator.js}"></script>
    <script th:src="@{/assets/plugins/jquery.pulsate/jquery.pulsate.min.js}"></script>
    <script th:src="@{/assets/plugins/gritter/js/jquery.gritter.min.js}"></script>
    <script th:src="@{/assets/js/ui-elements.js}"></script>
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script>
    jQuery(document).ready(function () {
        Main.init();
        FormElements.init();
    });
</script>
</body>
</html>